<html>  
    <head>
        <title> ToDo App </title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">     
        <h2>Add a new task </h2>
        <form action ="/addtask" method="POST">
            <input type="text" name="newTask" placeholder="add new task">        
            <button> Add Task </button>    
            <h2> To Do </h2>
                <% for(var i = 0; i < tasks.length; i++){ %>
                <li>
                    <input type="checkbox" name="check" value="<%= tasks[i] %>" /> <%= tasks[i] %>
                </li>
                <% } %>
            <button formaction="/removetask" type="submit"> Remove </button>
        </form>    
        <h2> Completed tasks </h2>
        <% for(var i = 0; i < complete.length; i++){ %>
            <li>
                <input type="checkbox" checked><%= complete[i] %>
            </li>
        <% } %>
    </div>
    </body>
</html>